.line.ung {
  text-align: center;
}

.sep.ung {
  height: 2em;
  vertical-align: middle;
  line-height: 2em;
  background-color: teal;
}

.sep.ung:nth-of-type(2n) {
  background-color: #95cbcb;
}

.text-gray {
  color: #999;
}

.green {
  background: #00FF00;
}

.yellow {
  background: #FFFF00;
}

.blue {
  background: #3399FF;
  color: #fff;
}

@media (max-width: 30em) {
.sep.ung {
  height: 1em;
  line-height: 1em;
  }
}
